---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="">{{ page.title }}</h1>
    <div>I'm a PhD student at the Department of Philology, Literature, and Linguistics of the University of Pisa and a member of the CoLing Lab. From November to April you can find me at the University of Texas (Austin) as Visiting Scholar.
    </div>
    <div>Supervised by Alessandro Lenci and Domenica Romagno (while in Pisa) and by Kyle Mahowald (while in Austin).</div>
  {%- endif -%}

  <br />
    {%- if page.title -%}
    <h2 class="About me">{{ page.list_title }}</h2>
      <div>My primary research objective is in the field of computational psycholinguistics. From a theoretical linguistic perspective, I’m interested in semantics and phenomena of interface both between semantics and morphosyntax and between semantics and pragmatics.
        From a computational point of view, my research focuses on the domain of NLP. Specifically, my PhD project investigates the processing of conversational implicatures in LLM both with tasks that require mentalizing (Theory of Mind, for instance) both with tasks that require pragmatic and semantic competences.
        My long-term goal is to create models that reproduce enriched representation of meaning: smaller models that enrich embeddings with probabilistic formal representations.
        Therefore, I’m interested to cognitive implication of computational models: I test speakers to create evaluation metrics for computational models.
        Broadly, I’m interested in projects that can improve machine learning technique through better representations of semantic and pragmatic properties.
        Additional interests: theories of language processing, neural symbolic network, grounding, pLoT, experimental pragmatics, mechanistic interpretability, explainability and interpretability.
      </div>
    {%- endif -%}
  <br />

  {%- if page.title -%}
  <h2 class="Research interests">{{ page.list_title }}</h2>
    <div>I obtained my BA in Modern Literature in 2018 and my MA in Linguistics in 2021, both at the University of Pisa. After my graduation, I moved to Naples to work in a company as a mobile application developer.

      My hobbies are reading books, playing football, and cooking!
    </div>
  {%- endif -%}

    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>


    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>